.action-book-viewer {
	background-image: url('../img/action/book-viewer.svg');
	background-repeat: no-repeat;
}
.action-book-viewer:hover,
.action-book-viewer:active {
	background-image: url('../img/action/book-viewer-active.svg');
	background-repeat: no-repeat;
}
.action-download {
	background-image: url('../img/action/download.svg');
	background-repeat: no-repeat;
}
.action-download:hover,
.action-download:active {
	background-image: url('../img/action/download-active.svg');
	background-repeat: no-repeat;
}