body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
hr.hr-common {
	background-color: #ccad00;
	border: none;
	height: 1px;
}
hr.hr-menu {
	border: none;
	height: 5px;
	margin: 0;
	background-color: #9c6e02;
	/* IE9, iOS 3.2+ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM2YjJmMDQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzZiMmYwNCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuMyIvPjxzdG9wIHN0b3AtY29sb3I9IiNjY2FkMDAiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjciLz48c3RvcCBzdG9wLWNvbG9yPSIjY2NhZDAwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(107, 47, 4)),color-stop(0.3, rgb(107, 47, 4)),color-stop(0.7, rgb(204, 173, 0)),color-stop(1, rgb(204, 173, 0)));
	/* Android 2.3 */
	background-image: -webkit-repeating-linear-gradient(top left,rgb(107, 47, 4) 0%,rgb(107, 47, 4) 30%,rgb(204, 173, 0) 70%,rgb(204, 173, 0) 100%);
	/* IE10+ */
	background-image: repeating-linear-gradient(to bottom right,rgb(107, 47, 4) 0%,rgb(107, 47, 4) 30%,rgb(204, 173, 0) 70%,rgb(204, 173, 0) 100%);
	background-image: -ms-repeating-linear-gradient(top left,rgb(107, 47, 4) 0%,rgb(107, 47, 4) 30%,rgb(204, 173, 0) 70%,rgb(204, 173, 0) 100%);
}
.align-right {
	text-align: right;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 20px;
	text-align: center;
}
.highlight {
	color: #ccad00;
	display: inline;
	font-weight: bold;
}
.justify {
	display: flex;
	justify-content: space-between;
}
.justify > * {
	vertical-align: middle;
}
.upload-info {
	margin: 10px 30px;
}
.upload-info > * {
	display: inline-block;
}
.upload-info .message {
	color: #ff0000;
	font-weight: bold;
	margin-left: 25px;
}
.welcome-title {
	color: #6b2f04;
	font-size: 80px;
	font-style: italic;
	margin: 30px auto;
	text-align: center;
}
.welcome-title > * {
	display: inline-block;
	vertical-align: middle;
}
.welcome-title > .logo {
	background-image: url('../img/icon/icon-512.png');
	background-repeat: no-repeat;
	background-size: 150px;
	display: inline-block;
	height: 150px;
	width: 150px;
}
.welcome-title > .title {
	margin-left: -35px;
	margin-top: -20px;
}