.container {
	margin: 0 30px;
}
.content {
	padding: 0;
}
.content li {
	border: 1px solid #575757;
	display: inline-block;
	margin: 1px;
	height: 306px;
	width: 512px;
}
.content li > * {
	display: inline-block;
	vertical-align: top;
}
.content li a {
	cursor: pointer;
}
.content li img {
	height: 100%;
}
.content li .info {
	margin: 10px;
}
.content li .title {
	font-size: 20px;
	font-weight: bold;
}
.content li .author {
	font-size: 15px;
	font-style: italic;
	margin: 5px 0;
}