.navbar {
	background: #ffffff;
}
.navigation {
	margin: 0;
	padding: 0;
}
.navigation > li {
	background: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: "Berlin Sans FB";
	position: relative;
}
.navigation > li > a,
.navigation > li > button.link {
	display: inline-block;
	font-family: "Berlin Sans FB";
	font-size: 20px;
	padding: 15px 20px;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}
.navbar-menu > li.main:hover {
	background: transparent;
}
.navbar-menu > li.main:active {
	background: transparent;
}
.navbar-menu > li:hover {
	background: #6b2f04;
}
.navbar-menu > li:active {
	background: #6b2f04;
}
.navbar-menu > li > a,
.navbar-menu > li > button.link {
	color: #6b2f04;
}
.navbar-menu > li:hover > a,
.navbar-menu > li:active > a,
.navbar-menu > li:hover > button.link,
.navbar-menu >  li:active > button.link {
	color: #ffffff;
}
.navbar-user > li:hover {
	background: #ccad00;
}
.navbar-user > li:active {
	background: #ccad00;
}
.navbar-user > li > a,
.navbar-user > li > button.link {
	color: #ccad00;
}
.navbar-user > li:hover > a,
.navbar-user > li:active > a,
.navbar-user > li:hover > button.link,
.navbar-user > li:active > button.link {
	color: #ffffff;
}
.navigation li > .submenu {
	display: none;
	position: absolute;
}
.navigation li:hover > .submenu,
.navigation li:active > .submenu {
	display: block;
}