.viewer {
	display: flex;
	flex-direction: row;
	height: 85%;
	width: 100%;
}
.viewer > * {
	display: inline-block;
	margin: 30px;
	vertical-align: middle;
}
.action {
	cursor: pointer;
	font-size: 50px;
	height: 0;
}
.area {
	flex-grow: 1;
}
.pages > * {
	display: inline-block;
	padding: 20px;
	text-align: justify;
	vertical-align: top;
	width: 46%;
}