<form class="form-search">
	<div class="facet">
		<div class="title">Authors</div>
		<div ng-repeat="author in ctrl.facets.author">
			<input type="checkbox" ng-model="ctrl.chosenFacets.author[$index]"/>
			<label>{{author}}</label>
		</div>
	</div>
	<div class="facet">
		<div class="title">Publishers</div>
		<div ng-repeat="publisher in ctrl.facets.publisher">
			<input type="checkbox" ng-model="ctrl.chosenFacets.publisher[$index]"/>
			<label>{{publisher}}</label>
		</div>
	</div>
	<div class="facet">
		<div class="title">Uploaders</div>
		<div ng-repeat="uploader in ctrl.facets.uploader">
			<input type="checkbox" ng-model="ctrl.chosenFacets.uploader[$index]"/>
			<label>{{uploader}}</label>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="ctrl.facetedSearch()">Search</button>
</form>