<hr class="hr-header-user">
<div class="container navbar justify">
	<ul class="navigation navbar-menu">
		<li class="main"><a ui-sref="books({page: 1})"></a>
		<li><a ui-sref="topics">Topics</a>
		<li><a ui-sref="notifications">Notifications</a>
		<li><a ui-sref="search">Search</a>
	</ul>
	<ul class="navigation navbar-user" ng-if="!user">
		<li><a ui-sref="login">Log in</a>
	</ul>
	<ul class="navigation navbar-user" ng-if="user">
		<li><a ui-sref="upload_books">Upload books</a>
		<li><a ng-controller="UsersController as ctrl" ng-click="ctrl.logout()">Log out</a>
	</ul>
</div>
<hr class="hr-header-menu">