<div class="navbar justify">
	<ul class="navigation navbar-menu">
		<li><a ui-sref="books">Books</a>
		<li><a ui-sref="search">Search</a>
	</ul>
	<ul class="navigation navbar-user" ng-if="!user">
		<li><a ui-sref="login">Log in</a>
	</ul>
	<ul class="navigation navbar-user" ng-if="user">
		<li><a ui-sref="upload_books">Upload books</a>
		<li><a ui-href="#">My uploads</a>
			<ul class="navigation navbar-user submenu">
				<li><a ui-sref="successful_uploads">Successful</a></li>
				<li><a ui-sref="unsuccessful_uploads">Unuccessful</a></li>
			</ul>
		</li>
		<li><a ng-controller="UserController as ctrl" ng-click="ctrl.logout()">Log out</a>
	</ul>
</div>
<hr class="hr-menu">